<!-- question 1 to 5 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>que-1 to 5</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- question 2 -->
    <script src="{% static 'js/validation.js' %}"></script> <!-- question 3 -->
</head>
<body>
    <h1>Welcome to que1</h1> <!-- question 1  -->
    <form onsubmit="return validateForm()">
        <input type="email" id="email" placeholder="Enter your email"><br><br>
        <input type="text" id="phone" placeholder="Enter your phone number"><br><br>
        <input type="submit" value="Submit">
</body>
</html>
<!-- question 4 create a Django project and understand its directory structure (done) -->
<!-- question 5 (vartual env it's alraedy create)--> 